<%- include('./includes/header') %>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger mt-5" role="alert">
                    看來發生了點錯誤 :(
                    </div>
                <img src="/images/404.jpg" alt="404" class="img-fluid">
            </div>
        </div>
    </div>
</body>
</html>